{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>ResuLynx</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<nav class="navbar">
    <div class="logo">ResuLynx</div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/dashboard/">Dashboard</a>
    </div>
</nav>

{% block content %}{% endblock %}

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
